html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.global-container {
  background-color: #FFECD1;
  height: 100vh;
}

.header-container {
  height: 200px;
  background-color: #483C32;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  width: 180px;
  height: auto;
  margin: 10px 20px;
}

.header-title {
  color: white;
  font-family: 'Jolly Lodger';
  font-weight: 100;
  font-size: 66px;
}

.game-container {
  width: 900px;
  height: 700px;
  border: solid 3px #eba66e; /*for debugging*/
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-status {
  font-family: 'Keania One';
  font-weight: 100;
  text-align: center;
  border: 10px solid black ;
  width: 750px;
  padding: 5px;
  font-size: 50px;
  background-color: #eba66e;
  margin: 35px 0px;
}

.battle-field {
  display: flex;
  justify-content: space-between;
  width: 750px;
  border: #483C32 solid 2px;/*for debugging*/

}

.weapon-field {
  width: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weapon-field img {
  width: 225px;
}