html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.global-container {
  background-color: #FFECD1;
  height: 100vh;
}

.header-container {
  height: 200px;
  background-color: #483C32;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  width: 180px;
  height: auto;
  margin: 10px 20px;
}

.header-title {
  color: white;
  font-family: 'Jolly Lodger';
  font-weight: 100;
  font-size: 66px;
}